<h1> Order Details </h1>
<ul>

  <li>Order#: <%= @order.id%></li>
  <li>Name: <%= @customer.buyer_name %> </li>
  <li>Email: <%= @customer.email %></li>
  <!-- verified model works, leaving view for other team members -->
  <li> Product</li>
  <li> Total</li>
</ul>
