<div class="parallax"></div>

  <div class="caption-1"><%= link_to "Shop now!", products_path %></div>
  <div class="caption-2">Have something to sell? Become a merchant <%= link_to 'Here!', login_path %></div>

<div class="parallax"></div>
