<div class="parallax"></div>

  <div class="img-1"><%= image_tag("ughmug.jpg") %></div>
  <div class="caption"><%= link_to "Shop now!", products_path %></div>
  <div class="img-2"><%= image_tag("Failed.jpg") %></div>
  <div class="img-3"><%= image_tag("shoppingcart.jpg") %></div>

<div class="parallax"></div>
