// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .parallax {
//     /* The image used */
//     /* Set a specific height */
//     min-height: 100%;
//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
//
// .img-1 {
//   background-image: url("ughmug.jpg")
// }
//
// .img-2 {
//   background-image: url("Failed.jpg")
// }
//
// .img-3 {
//   background-image: url("shoppingcart.jpg")
// }

.parallax-1 {
    /* The image used */
    background-image: image-url('ughmug.jpg');
    // background-image: image-url('Failed.jpg');
    width: 100vw;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}

.parallax-2 {
  background-image: image-url('shoppingcart.jpg');
  width: 100vw;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}

div {
  display: inline-block;
}

.caption-1 {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
}



.caption-2 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
}

.parallax-3 {
  background-image: image-url('Failed.jpg');
  width: 100vw;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}
