// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  // background-image: url('/assets/shoppingtags.jpg');
  // background-size: cover;
  // background-position: top;
  font-weight: bold;
  color: #374785;
}

.user-info p {
  background-color: whitesmoke;
  max-width: 300px;
  text-align: center;
}
