// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.img-thumbnail {
  width: 30vw;
  display: flex;
  align-content: center;
}

tr.cart-items {
  height: 20vh;
}

tr.cart-items img {
  height: 18vh;
  padding: 2vh
}

.form {
  width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
