// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}

.product img {
  border-radius: 2%;
}

.product-item > article {
  width: 200px;
  line-height: 75px;
  margin: 10px;
}

.product-reviews {
  width: 400px;
}

.parallax-1 {
    /* The image used */
    background-image: image-url('ughmug.jpg');
    width: 100vw;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}

.parallax-2 {
  background-image: image-url('shoppingcart.jpg');
  width: 100vw;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}

div {
  display: inline-block;
}

.caption-1 {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
}

.caption-2 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
}

.parallax-3 {
  background-image: image-url('Failed.jpg');
  width: 100vw;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}
