// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-container {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgrey;
}

img {
  max-width: 20vw;
  border-radius: 5%;
  // border: 1px solid lightgrey;
  margin: 10px;
}

.flex-container > div {
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
    height: 350px;
    border-radius: 10px;
    background-color: white;
    margin: 4.15%;
    position: relative;
  // display: inline-block;
  // max-width: 20%;
  // margin: 10px;
  // text-align: center;
  // // line-height: 75px;
  // // font-size: 30px;
  // background-color: whitesmoke;
  // border: 1px solid lightgrey;
}

.product-reviews {
  // width: 400px;
}

.parallax-1 {
    /* The image used */
    background-image: image-url('ughmug.jpg');
    width: 100vw;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}

.parallax-2 {
  background-image: image-url('shoppingcart.jpg');
  width: 100vw;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}

div {
  display: inline-block;
}

.caption-1 {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
}

.caption-2 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2em;
}

.parallax-3 {
  background-image: image-url('Failed.jpg');
  width: 100vw;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}

.product-item input.number-field {
  // width: 100px;
}
