// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  font-weight: bold;
  color: #374785;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  width: 400px;
  align-items: flex-start;
}

.user-info p {
  max-width: 300px;
  text-align: center;
}

.table {
  padding-top: 10px;
}
