<div class="parallax-1"></div>

  <div class="caption-1">
    <span><%= link_to "Shop now!", products_path %></span>
  </div>

<div class="parallax-2"></div>
  <div class="caption-2">Have something to sell? Become a merchant <%= link_to 'Here!', login_path %></div>

<div class="parallax-3"></div>
